body {
	margin: 0;

	font-family: "PTSans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;

	background: #ffffff;
}

a {
	text-decoration: none;
}

.main-navigation {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.857;
  
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #93bed8;
}

.site-navigation a:active {
	color: #bfbfbf;
}

.site-navigation a:visited {
	color: #87776c;
}


