body {
	margin: 0;

	font-family: "PTSans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;

	background: #ffffff;
}

a {
	text-decoration: none;
}

.main-navigation {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.857;
  
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #93bed8;
}

.site-navigation a:active {
	color: #bfbfbf;
	opacity: 0.3;
}

.site-navigation a:visited {
	color: #87776c;
}

.intro {
	background-image: url("img/background photo.jpg");
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: top center;
}


.about-sedona {
	font-family: "PTSans bold", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
    font-size: 21px;
    color: #000000;
}

.about-advantages {
	font-family: "PTSans Regular", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: #929292;
}

.about-sedona .interisting {
	font-size: 35px;
}

.popap h2 {
	background-color: #766357;

	font-family: "PTSans bold", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
    font-size: 21px;
    color: #ffffff;
}
