body {
	margin: 0;

	font-family: "PTSans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;

	background: #ffffff;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.main-navigation {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #93bed8;
}

.site-navigation a:active {
	color: #bfbfbf;
	opacity: 0.3;
}

.site-navigation a:visited {
	color: #87776c;
}

.intro {
	background-image: url("../img/bg.jpg");
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: top center;
}

.interisting {
	font-family: "PTSans bold", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
    font-size: 21px;
    color: #000000;
    text-align: center;
}

.about-sedona {
	font-family: "PTSans Regular", Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	color: #929292;
	text-align: center;
	line-height: 21px;
}

.about-advantages {
	font-family: "PTSans Regular", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: #929292;
	text-align: center;
}

.popap h2 a {
	background-color: #766357;

	font-family: "PTSans bold", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
    font-size: 21px;
    color: #ffffff;
    text-align: center;
}

.popap h2 a:hover,
.popap h2 a:focus {
	background-color: #604e43;
}

.popap h2 a:active {
	background-color: #503e33;

	color: rgba(255, 255, 255, 0.3);
}

.form-find-hotels input {
	font: inherit;

	color: #000000;
	border: none;

	background-color: #f2f2f2;
}

.form-find-hotels input:hover {
	background-color: #ebebeb;
}

.form-find-hotels input:focus {
	background-color: #ffffff;

	border: 2px solid #ebebeb;
}

form .button {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;
}

form .button:hover,
form .button:focus {
	background-color: #669ec0;
}

form .button:active {
	background-color: #5496bd;

	color: rgba(255, 255, 255, 0.3);
}

.minus,
.plus {
	font: inherit;

	color: #a9a9a9;

	background-color: #f2f2f2;
	border: none;
}

.main-footer {
	background-color: #ffffff;
}

.main-footer p {
	font-size: 21px;
}

.social-button a {
	text-decoration: none;
	color: #ffffff;

	background-color: #81b3d2;
}

.social-button a:hover,
.social-button a:focus {
	background-color: #669ec0;
}

.social-button a:active {
	background-color: #5496bd;

	color: rgba(255, 255, 255, 0.3);
}

.main-footer p b {
	font-size: 14px;
	font-family: "PTSans Regular", Arial, sans-serif;
	font-weight: 400;
}

.logo-htmlacademy svg path {
	fill: black;
}

.logo-htmlacademy svg path:hover,
.logo-htmlacademy svg path:focus {
	fill: #5496bd;
}

.logo-htmlacademy svg path:active {
	fill: #bdbbbc;
}


.hotels-items h3 a {
	font-size: 21px;
	color: #000000;
	line-height: 26px;
}

.hotels-items .hotels-category,
.hotels-items .hotels-price {
	font-size: 14px;
	font-family: "PTSans Regular", Arial, sans-serif;
	color: #949494;
	line-height: 21px;
	font-weight: 400;
}


a.button .action-hotel {
	background-color: #766357;

	font-family: "PTSans bold", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
    font-size: 21px;
    color: #ffffff;
    text-align: center;
}

.about-hotel {
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;

	background-color: #81b3d2;
	border: none;
}

.about-hotel:hover,
.about-hotel:focus {
	background-color: #669ec0;
}

.about-hotel:active {
	background-color: #5496bd;

	color: rgba(255, 255, 255, 0.3);
}

.action-hotel{
	background-color: #766357;

	font-family: "PTSans bold", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 21px;
}

.action-hotel:hover,
.action-hotel:focus {
	background-color: #604e43;
}

.action-hotel:active {
	background-color: #503e33;

	color: rgba(255, 255, 255, 0.3);
}

.rating {
	font-size: 14px;
	font-family: "PTSans Regular", Arial, sans-serif;
	color: #949494;
	line-height: 21px;
	font-weight: 400;

	background-color: #f2f2f2;
}
